/* Styles for Mobile devices */
@import 'simplelightbox/dist/simple-lightbox.min.css';
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  row-gap: 24px;
  column-gap: 24px;

  margin: auto;
  /* padding: 100px 0; */
}
.gallery-item {
  max-width: 360px;
  /* max-height: 200px; */
}
.gallery-image:hover {
  cursor: url(../img/cursor.png), pointer;
}
.sl-wrapper .sl-image img {
  border-radius: 30px;
  border: 5px solid lightblue;
}
.sl-caption {
  border-radius: 0 0 30px 30px;
  border: 2px solid lightblue;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}
/* ===========Form=================*/
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
/* ===========/Form=============== */
